.verificationWrap {
  min-height: calc(100vh - 230px);
  display: flex;
  justify-content: center;
  padding-top: 100px;
  .formWrap {
    width: 400px;
    .btnWrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      button {
        min-width: 120px;
      }
      .queryBtn {
      }
      .verifBtn {
        background: #ff9d25;
        border-color: #ff9d25;
      }
    }
  }
}
.modalContent {
  width: 100%;
  padding-top: 20px;
  .noticeBox {
    text-align: center;
    font-size: 15px;
    color: #3d3d3d;
    margin-bottom: 15px;
  }
  .couponsWrap{
    width: 100%;
    padding: 0 120px;
  }
}
